# Install Dependencies

In [1]:
import pandas as pd
from path import Path

# Import Data

In [14]:
# Create path and read in data
path = Path('../Resources/mpg.csv')
mpg_df = pd.read_csv(path, na_values='?')

# Explore Data

In [15]:
# Preview data
mpg_df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl

In [16]:
# Check data types
mpg_df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [12]:
# Drop the records missing `horsepower` values
mpg_df = mpg_df['horsepower'] != '?'
mpg_df

0      True
1      True
2      True
3      True
4      True
       ...
393    True
394    True
395    True
396    True
397    True
Name: horsepower, Length: 398, dtype: bool

In [13]:
# Convert the `horsepower` field to be an integer type
mpg_df['horsepower'].astype(int)

KeyError: 'horsepower'

In [7]:
# Convert the `origin` field to be a string type

In [8]:
# Drop the `car name` field